/* General body styling */
body, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neuton', sans-serif;
}

/* Header styling */
header {
    background-color: #faf2e5;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #000;
}

.insta-box {
    background-color: #f1a448; 
    color: #000; 
    padding: 10px 15px; 
    border-radius: 5px;
    margin-bottom: 10px; 
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 3em; 
    font-weight: 800;
    color: #000;
    margin-top: 10px;
}

/* Footer styling */
footer {
    background-color: #faf2e5;
    color: #000;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content p {
    font-size: 1.5em;
}

.instagram-icon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

/* Swiper container styling */
.swiper-container {
    width: 100%;
    height: auto; /* Adjust based on your content */
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.swiper-slide img {
    max-width: 100%;
    max-height: 80%;
    object-fit: cover;
}

/* Caption styling */
.caption {
    color: #000;
    font-size: 0.9em;
    text-align: center;
    padding: 10px;
}

/* Logos container styling */
.logos-container {
    display: flex;
    justify-content: center; /* Center logos horizontally */
    align-items: center; /* Align logos vertically */
    margin-bottom: 20px; /* Space below the logos before the photo */
}

/* Individual team logos styling */
.team-logo {
    width: 50px; /* Adjust based on your preference */
    height: auto;
    margin: 0 10px; /* Space around each logo */
}

/* Swiper navigation buttons styling */
.swiper-button-next, .swiper-button-prev {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .swiper-container {
        height: 300px;
    }
}
